<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>All users</title>
    <link th:rel="stylesheet" th:href="@{/css/dashPageStyle.css}">
    <link th:rel="stylesheet" th:href="@{/css/dashboardAStyling.css}">
    <link th:rel="stylesheet" th:href="@{/css/contentMargin.css}">
    -->    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <link th:rel="stylesheet" th:href="@{/css/snackbarStyling.css} "/>

    <link th:rel="stylesheet" th:href="@{/css/mdb.css}">
    <script th:src="@{/js/bootstrap.js}"></script>
    <link th:rel="stylesheet" th:href="@{/css/bootstrap.css}">

    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Karla:wght@400;500&display=swap" rel="stylesheet">
</head>
<body>
<div th:replace="navbar.html :: header"></div>
<div id="snackbar"><span id="snackbar-text"></span><i id="snackbar-icon" class="fas fa-check"></i></div>

<div id="content-pane">
    <div class="row">
        <div class="col-md-offset-2 col-md-8 col-lg-offset-3 col-lg-6">
            <div class="well profile" id="container-box">
                <h1 align="center">All Users on Record</h1><hr style="background-color:#333;height:0.5px;">
                <table class="table table-hover">
                    <thead>
                    <tr>
                        <th scope="col">Name</th>
                        <th scope="col">Email</th>
                        <th scope="col">Manage</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each = "user : ${users}" style="padding-top:15px;">
                        <script th:inline = "javascript">
                            var id = [[${user.userID}]];
                            var name = [[${user.userName}]];
                        </script>
                        <th th:if = "${user.permissions} == 'ROLE_USER'" ><a th:text="${user.userName}"
                            th:href="@{/admin/account/{userName} (userName = ${user.userName})}"></a></th>
                        <td th:if = "${user.permissions} == 'ROLE_USER'" th:text="${user.emailAddress}"></td>
                        <td th:if = "${user.permissions} == 'ROLE_USER'">
                            <form th:action="@{/admin/deleteAccount}" enctype="multipart/form-data" th:object = "${editForm}" method="post">
                                <input  type = "hidden" th:name="id" th:value = "${user.userID}"/>
                                <input  type = "hidden" th:name="edit" th:value = "${user.userName}"/>
                                <button type="submit" class="btn btn-danger">Delete Account</button>
                            </form>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>


<script th:inline="javascript">
    var message = [[${success}]];
    var msg_type = [[${type}]];
    if (message == true){
        switch(msg_type){
            case "admindeluser":
                document.getElementById("snackbar-text").innerHTML = "Account deleted";
        }
        showSnackbar();
    }
</script>
</body>
</html>

<script>
    $(document).on("click", "#deleteUser", function () {
        $(".modal-footer #userID").val( id );
        $(".modal-footer #userName").val( name );
        // As pointed out in comments,
        // it is unnecessary to have to manually call the modal.
        // $('#addBookDialog').modal('show');
    });
</script>
